{% extends 'base.html.twig' %}

{% block title %}Inscription
{% endblock %}


{% block body %}
<h1 class="d-flex justify-content-center whitetitle"> Matchs à venir </h1>
{% include 'matchs_de_la_nuit.html.twig' %}

<div class="wrapper fadeInDown">
  <div id="formContent" class="bg-secondary">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
        <h3 class="whitetitle"> Inscription </h3>
    </div>

 
     <!-- Login Form -->
    {{ form_start(form) }}
    {{ form_errors(form) }}

    {{ form_row(form.username, { 'label': 'Nom d\'utilisateur' }) }}
    {{ form_row(form.password, { 'label': 'Mot de passe' }) }}


   <span class="bg-success"> {{ form_row(form.save, { 'label': 'Creer mon compte' }) }}</span>
    {{ form_end(form) }}
 
  </div>
</div>
{% endblock %}