<div id="{{id}}" class="stats" style="padding: 20px;text-align: center;">   
<div class="btn-group center-div" role="group" style="display: inline-block;padding: 20px;">
  {% include 'btngroup.html.twig' with {name:'overall',btn_label:'Série'} %}
  {% include 'btngroup.html.twig' with {name:'last5',btn_label:'Playoffs'} %}
  {% include 'btngroup.html.twig' with {name:'location',btn_label:'Saison'} %} 
</div> 
<table class="table table-hover table-dark">

  <thead>
    <tr>
      <th scope="col" class="left" style="margin-top: 50vh;transform: translateY(0%);">{{arrayTitle}}  </th>
      <th scope="col"><img style="max-width:120px" src="https://stats.nba.com/media/img/teams/logos/{{teams.0.Stats.team_abv}}_logo.svg"/></th>
      <th scope="col"><img style="max-width:120px" src="https://stats.nba.com/media/img/teams/logos/{{teams.1.Stats.team_abv}}_logo.svg"/></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row" class="left">Bilan</th>
      <td><span class="text-success">{{home.wins}}W </span>/
          <span class="text-danger"> {{home.losses}}L </span> 
       </td>
        <td>
          <span class="text-success">{{away.wins}}W </span>/
          <span class="text-danger"> {{away.losses}}L </span>   
       </td>
    </tr>
    {% if hadvanced is defined %}
     {% include 'stats_tr.html.twig' with {title:'Rating off', hstat:hadvanced.offRating, hstatRank:hadvanced.offRatingRank, astat:aadvanced.offRating, astatRank: aadvanced.offRatingRank} %}
     {% include 'stats_tr.html.twig' with {title:'Rating def', hstat:hadvanced.defRating, hstatRank:hadvanced.defRatingRank, astat:aadvanced.defRating, astatRank: aadvanced.defRatingRank} %}
    {% endif %}
    {% include 'stats_tr.html.twig' with {title:'Points', hstat:home.points, hstatRank:home.pointsRank, astat:away.points, astatRank: away.pointsRank} %}
    {% if hadvanced is defined %}
      {% include 'stats_tr.html.twig' with {title:'Pace', hstat:hadvanced.pace, hstatRank:hadvanced.paceRank, astat:aadvanced.pace, astatRank: aadvanced.paceRank} %}
    {% endif %}
    {% include 'stats_tr.html.twig' with {title:'%Tir', hstat:home.fg_pct, hstatRank:home.fg_pctRank, astat:away.fg_pct, astatRank: away.fg_pctRank} %}
    {% include 'stats_tr.html.twig' with {title:'%Tir 3pts', hstat:home.three_fg_pct, hstatRank:home.three_fg_pctRank, astat:away.three_fg_pct, astatRank: away.three_fg_pctRank} %}
    {% include 'stats_tr.html.twig' with {title:'3pts tentés', hstat:home.three_attempts, hstatRank:home.three_attemptsRank, astat:away.three_attempts, astatRank: away.three_attemptsRank} %}

    {% if hadvanced is defined %}
      {% include 'stats_tr.html.twig' with {title:'%TS *', hstat:hadvanced.trueShooting, hstatRank:hadvanced.trueShootingRank, astat:aadvanced.trueShooting, astatRank: aadvanced.trueShootingRank} %}
    {% endif %}
    {% include 'stats_tr.html.twig' with {title:'Rebonds', hstat:home.rebounds, hstatRank:home.reboundsRank, astat:away.rebounds, astatRank: away.reboundsRank} %}
    {% include 'stats_tr.html.twig' with {title:'Contres', hstat:home.blocks, hstatRank:home.blocksRank, astat:away.blocks, astatRank: away.blocksRank} %}
    {% include 'stats_tr.html.twig' with {title:'Passes Dec', hstat:home.assists, hstatRank:home.assistsRank, astat:away.assists, astatRank: away.assistsRank} %}
    {% include 'stats_tr.html.twig' with {title:'Interceptions', hstat:home.steals, hstatRank:home.stealsRank, astat:away.steals, astatRank: away.stealsRank} %}
    {% include 'stats_tr.html.twig' with {title:'Pertes de balle', hstat:home.turnovers, hstatRank:home.turnoversRank, astat:away.turnovers, astatRank: away.turnoversRank} %}
    {% if home.d_fg_pct is defined %} 
       {% include 'stats_tr.html.twig' with {title:'%Tir Adv', hstat:home.d_fg_pct, hstatRank:home.d_fg_pctRank, astat:away.d_fg_pct, astatRank: away.d_fg_pctRank} %}
    {% endif %}
  </tbody>
</table>
</div>