<tr>
  <th scope="row" class="left" {% if title == '%TS *' %} id="ts"><span class="hover"> {{title}}</span> <span class="hovershow" style="display:none;font-size:0.5rem;font-style:italic;">    %Tir  2pts,3pts et LF: PTS / (2(Tir tentés + 0.44 LF tentés))</span>{% else %}> {{title}}  {% endif %}</th>
  <td>{{hstat}} 
        
        {% if home.pointsdiff is defined %}
        {% elseif  hstatRank < 5 %}
        <span class="text-success">({{hstatRank}})</span>
        {% elseif hstatRank > 8 %}
        <span class="text-danger">({{hstatRank}})</span>
        {% else %}({{hstatRank}}) 
        {% endif %}</td>
  <td>{{astat}} 
        {% if home.pointsdiff is defined %}
        {% elseif astatRank < 5 %}
        <span class="text-success">({{astatRank}})</span>
        {% elseif astatRank > 8 %}
        <span class="text-danger">({{astatRank}})</span>
        {% else %}({{astatRank}}) 
        {% endif %}
        </td>
</tr>